/* Bordered form */

form {
    padding-right: 30%;
    padding-left: 30%;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4b59af;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Extra style for the nav buttons */
.navbtn {
    width: 220px;
    display: block;
    padding: 2px 0px;
    background-color: goldenrod;
}

/* Extra style for the nav buttons */
.joboptionbtn {
    width: 850px;
    display: block;
    padding: 16px 10px;
    background-color: #4b59af;
}

/* Center the JCU SEEK image inside this container */
.centerImage {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* The JCU SEEK image sits in the top left corner */
.topbanner {
    text-align: left;
    margin: 24px 0 12px 0;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/* Set account buttons sizing */
.accountButton {
    width: auto;
    height: auto;
    background-color: transparent;
    margin-left: 50px;
    margin-right: 50px;
}

/* Account font design */
.accountText {
    font-size:250%;
    font-family: "verdana";
    color:darkblue;
    font-weight: bold;
 }

/*Align account images */
.accountImage {
    display: inline-block;
}

h1 {
    font-size: 300%;
    font-family: "verdana";
    color: darkblue
}

/* The left side navigation menu */
.sidenavleft {
    height: 100%;
    width: 10;
    position: fixed; /* Stay in place */
    left: 0;
    background-color: gray;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The right side navigation menu */
.sidenavright {
    height: 100%;
    width: 10;
    position: fixed; /* Stay in place */
    right: 0;
    background-color: gray;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The left navigation menu links */
.sidenavleft a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

/* The right navigation menu links */
.sidenavright a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenavleft a:hover {
    color: black;
}

.sidenavright a:hover {
    color: black;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main {
    padding-left: 250px;
    padding-right: 250px;
    transition: margin-left .5s;
    align: center;
    position: fixed;
    color: #111111;
    display: block;
}

.main a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
}
