/* Bordered form */

form {
    padding-right: 30%;
    padding-left: 30%;
}

.signInBox {
    padding-right: 40%;
    padding-left: 40%;

}

.btnSignIn {
    width:  40%;
    margin-right: 4%;
    margin-left: 4%;
    color: #4b59af;
    background-color: white;
    border: 2px solid #4b59af;
}

.btnSignUp {
    width:  40%;
    margin-right: 4%;
    margin-left: 4%;
    border: 2px solid #4b59af;

}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4b59af;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Extra style for the nav buttons */
.navbtn {
    height: 50px;
    width: 220px;
    display: block;
    padding: 2px 0px;
    margin: 1px;
    background-color: #262626;
    font-size: 110%;
    font-family: "verdana";
}

/* Extra style for the nav buttons */
.joboptionbtn {
    height: 100px;
    width: 850px;
    display: block;
    padding: 16px 10px;
    background-color: white;
    color: black;
    border: 2px solid black;
    font-size: 110%;
    font-family: "verdana";
}

/* Center the JCU SEEK image inside this container */
.centerImage {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* The JCU SEEK image sits in the top left corner */
.topbanner {
    text-align: left;
    margin: 24px 0 12px 0;
}

/* Add padding to containers */
.container {
    padding: 16px;
}



/* Set account buttons sizing */
.accountButton {
    width: auto;
    height: auto;
    background-color: transparent;
    margin-left: 50px;
    margin-right: 50px;
}

/* Account font design */
.accountText {
    font-size:250%;
    font-family: "verdana";
    color:black;
    font-weight: bold;
 }

/*Align account images */
.accountImage {
    display: inline-block;
}

h1 {
    font-size: 300%;
    font-family: "verdana";
    margin-top: 0px;

}

/* The left side navigation menu */
.sidenavleft {
    height: 100%;
    position: fixed; /* Stay in place */
    left: 0;
    background-color: #262626;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The right side navigation menu */
.sidenavright {
    height: 100%;
    position: fixed; /* Stay in place */
    right: 0;
    background-color: #262626;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The left navigation menu links */
.sidenavleft a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

/* The right navigation menu links */
.sidenavright a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenavleft :hover {
    background-color: #1b1b1b;
}

.sidenavright :hover {
    background-color: #1b1b1b;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main {
    padding-left: 250px;
    padding-right: 250px;
    transition: margin-left .5s;
    align: center;
    position: fixed;
    color: #111111;
    display: block;
}

.main a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
}

body {
    background: #fff;
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

input, button {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.headerImage {
    background-image: url("images/coverImage.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 250px;

}

.headerJobSearch {
    background-size: cover;
    width: 100%;
    height: 100px;
}

.h1JobSearch {
    color: black;
    padding-left: 10px;
    padding-top: 5px;
}

.h1LogIn {
    color: white;
    padding-top: 180px;
    padding-left: 15px;
}

.h1Image {
    padding-right: 20px;
}

.contain {
    width: auto;
    display: inline;
}